body{background: lightblue;
	width:960px;
	margin:0;
}

header{
	width:940px;
	/*height:80px; */
	background: blue;
	margin:10px;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}

nav{
	width:940px;
	/*height:80px;*/
	background: yellow;
	margin:10px;
	padding-top:30px;
	padding-bottom :30px;
	text-align:center;
}

section{
	background: brown;
	margin-left:10px;
	width:495px;
	height: 175px;
	
	float:left;
}

aside {
	background: yellow;
	height: 175px;
	width:430px;
	float:right;
	margin-right:10px;

}